*{
    padding: 0px;
    margin: 0px;
    background-color: #F7F8FA; 
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.login_h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-top: 15%;
    margin-left: 5%;
}
.inputs_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}
.inputs_login input{
    margin: 4%;
    padding: 11px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    width: 75%;
    height: 13px;
    border-width: 2px;
    border-radius: 4px;
}
.button_crearCuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-top: 7%;
}
.button_crearCuenta p{
    margin: 10px
}
.button_crearCuenta a{
    color: black;
}

.entrar_login{
    background-color: #4AA366;
    color: white;
    width: 75%;
    margin-top: 12px;
    height: 46px;
    border-radius: 4px;
    border: none;
}
